{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/dashboard.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>
{% endblock %}

{% block content %}

<!-- TOPBAR -->
<div class="topbar">
    <div class="top-left">
        <div class="logo-ico">
            <img src="/static/img/logo.jpg" alt="WBill$">
        </div>

        <div>
            <div class="logo-name">WBill$</div>
            <div class="logo-tag">Your Money, Your Rules</div>
        </div>
    </div>

    <div class="top-right">
        <span id="topuser">Hola</span>
        <div id="topav">JD</div>
    </div>
</div>

<div class="page">

    <div class="welcome">
        ¡Bienvenido, <span id="wname">Juan</span>! 👋
    </div>

    <div class="month-badge">
        📅 Revisando: <b>Abril 2026</b>
    </div>

    <!-- KPIs -->
    <div class="kpis">
        <div class="kpi bal">
            <div class="kl">Balance</div>
            <div class="kv" id="kbal">$0</div>
        </div>

        <div class="kpi gas">
            <div class="kl">Gastos</div>
            <div class="kv" id="kgas">$0</div>
        </div>

        <div class="kpi ing">
            <div class="kl">Ingresos</div>
            <div class="kv" id="king">$0</div>
        </div>
    </div>

    <!-- ACTIONS -->
    <div class="action-btns">
        <button onclick="selectTipo('ingreso')">＋ Nuevo Ingreso</button>
        <button onclick="selectTipo('gasto')">＋ Nuevo Gasto</button>
    </div>

    <!-- FORM -->
    <div id="mov-form"></div>

    <!-- HISTORIAL -->
    <div class="card">
        <h3>Historial</h3>
        <div id="tx-list"></div>
    </div>

    <!-- CHARTS -->
    <div class="charts-row">
        <div class="chart-c">
            <div id="bar-areas"></div>
        </div>

        <div class="chart-c">
            <div id="don-areas"></div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/dashboard.js"></script>
{% endblock %}